$prime: #101317;
$ciBlue: #121519;
$ciRed: #121519;
$ciGreen: #121519;
$second: #121519;
$white: #ffffff;


$text: #aeb4bf;
$highlight: rgb(255, 115, 0);
$highlightHover: rgb(251, 139, 46);
$accent: #778396;
$bg_dark: #0c0e11;