@import "font";
@import "preset";
@import "vars";

/* Page Transition */
.page-enter-active,
.page-leave-active {
    transition: all ease-in-out 0.4s;
}

.page-enter-from {
    opacity: 0;
    transform: translate(0, 550px) scale(0.9);
}

.page-leave-to {
    transition-delay: 500ms;
    opacity: 0;
    transform: translate(0, 550px) scale(0.9);
}


/* Layout Transition */
.layout-enter-active,
.layout-leave-active {
    transition: all ease-in-out 0.4s;
}

.layout-enter-from {
    opacity: 0;
    transform: translate(0, 550px) scale(0.9);
}

.layout-leave-to {
    transition-delay: 500ms;
    opacity: 0;
    transform: translate(0, 550px) scale(0.9);
}



.fk-bg-prime {
  background-color: $prime;
}

.fk-text-highlight {
  color: $highlight;
}

.fk-bg-highlight {
  background-color: $highlight;
}

.fk-fill-highlight {
  fill: $highlight;
}

.hover\:fk-text-highlight:hover {
  color: $highlight;
}

.fk-text-accent {
  color: $accent;
}

.fk-bg-accent {
  background-color: $accent;
}

.fk-fill-accent {
  fill: $accent;
}

.fk-colored-text { 
  font-weight: bold;
  background: -webkit-linear-gradient(142deg, $highlight 25%, $accent );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fk-bg-dark {
  background-color: $bg_dark;
}

.page {
  background-color: #101317;

  .line-break {
    white-space: pre-wrap;
  }
}

.border {
  border-radius: 0.4rem;
  outline: 0.2rem dashed rgba(255, 166, 0, 0.0);
  outline-offset: 0.4rem;
  transition: all ease-in-out .25s;
}

.border.focused {
  outline: 0.2rem dashed rgba(255, 166, 0, 1.0);
}

input, textarea {
  outline: none;
}












// AURORA

.wrapper {
  width: 100px;
  height: 100px;
  background: #101317;
  position: relative;
  overflow:hidden;
  border-radius: 40px;
}

.wrapper div {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}


// Basic blured shapes

.blurred {
  .one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: #373372;
    left:-50px;
    top:-300px;
    z-index: 3;
  }

  .two {
    width: 500px;
    height: 800px;
    background-color: #7C336C;
    bottom:-30px;
    left:-80px;
  }

  .three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom:-80px;
    right:-100px;
    background-color: #B3588A;
  }
}


// Radial gradient

.radial {
  .wrapper {
    background-color: #000000;
    background-image: 
      radial-gradient(at top left, #ff00c3, transparent),
      radial-gradient(at top right, #ff0026, transparent),
      radial-gradient(at bottom left, #8cff00, transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}


// Blurred image

.image {
  .imageWrapper {
    height: 400px;
    position: relative;
    overflow:hidden;
    border-radius: 40px;
  }
  .gradientImage {
    width: 100%;
  }
}

.gradientImage.blurredImage {
  filter: blur(60px);
}



.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}